/* Hide scrollbar but keep scrolling */
ul::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
  }
  
  ul {
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }
